body {
  background-color: #308834 !important;
  font-family: Roboto, sans-serif;
  color: white !important;
}
input {
  color: #000 !important;
}
.App {
  text-align: center;
}
.layout {
  display: flex;
  > div:nth-child(1) {
    width: 27%;
  }
  > div:nth-child(2) {
    width: 100%;
    position: absolute;
  }
}
button {
  padding: 8px 20px;
  max-height: 40px;
  border-radius: 30px !important;
  margin: 7px;
  border: 1px solid black;
  background-color: turquoise;
  font-size: 14px;
  font-weight: bold;
  color: black !important;
  margin-left: 10px !important;
}
button:hover,
button:focus,
button:active {
  background-color: #ff600f;
}
