.App {
  text-align: center;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .card-container > div:not(:first-child) {
  position: absolute;
} */
.blank-card {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  width: 220px;
  height: 310px;
}
.nav-buttons-container {
  margin: 10px;
}
.nav-buttons-container > button,
.bet-continer > button {
  margin: 5px;
}
.bet-box,
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding: 8px 20px;
  max-height: 40px;
  border-radius: 15px;
  margin: 7px;
  border: 1px solid black;
  background-color:turquoise;
  font-size: 14px;
  font-weight: bold;
}
button:hover, button:focus, button:active {
  background-color: #FF600F;
}
.next-button {
  margin: 30px;
}
.next-button > button {
  background-color: #FF600F;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  min-height: 50px;
  min-width: 200px;
}
.next-button > button:hover {
  background-color: turquoise;
  /* color: #FF600F; */
  border: 2px solid black;
}