.bet-continer {
  margin-bottom: 20px;
  .bet-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
  }
}
.nav-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
